body {
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.longin {
  background: linear-gradient();
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px, 30px;
  min-height: calc(100h - 200px);
}

.login_container {
  background-color: rgba(255, 255, 255, 0, 1);
  border: 2px solid wheat;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login_container_form {
  display: flex;
  flex-direction: column;
}

.login-container-remember label {
  font-size: 20px;
}

.login-container-remember {
  color: brown;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-bottom: 2px solid white;
  border-right: 0px;
  border-top: 0px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  padding: 0px 20px;
  height: 50px;
}

.foto1 {
  width: 25px;

  margin-left: 32px;
}

.iniciargit {
  margin-right: 3px;
}

.git {
  display: flex;
  justify-content: space-around;
}

.foto2 {
  width: 20px;
  padding: 28px;
  margin-left: 15px;
}

.google {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.inicargoogle {
  margin-top: 25px;
}

.twitter {
  display: flex;
  justify-content: space-around;
}

.foto3 {
  width: 35px;
  margin-left: 18px;
}

.footer {
  /* display: flex; */
  /* justify-content: left; */
}

a {
  color: white;
  padding-right: 20px;
}

.footer-link {
  margin: 20px;
}
